.table_price {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  width: 80%;
  padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.table_price th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
.table_price td {
  padding: 10px;
}
.table_price tr:nth-child(odd) {
  background: white;
}
.table_price tr:nth-child(even) {
  background: #E8E6D1;
}